<div id="OrderTable" class="ui grid" >
  <div  class="two wide column">
      <div id="OrderWrapper" >
        <h2 *ngIf="!EditMode; else ActionTitle">Add new order</h2>
        <ng-template #ActionTitle>
            <h2 >Edit order</h2>
        </ng-template>
        <div>
          <label>Surname</label>
          <input [(ngModel)]="NewOrder.Surname" type="text" required/>
        </div>
        <div>
          <label>Firstname</label>
          <input [(ngModel)]="NewOrder.Firstname" type="text"  required/>
        </div>
        <div>
          <label>Phone number</label>
          <input [(ngModel)]="NewOrder.PhoneNo" type="text"  required/>
        </div>
        <div>
          <label>Email</label>
          <input [(ngModel)]="NewOrder.Email" type="email"  required/>
        </div>
      <div>
        <label>From address</label>
        <input [(ngModel)]="NewOrder.From" type="text"  required/>
      </div>
        <div>
          <label>To address</label>
          <input [(ngModel)]="NewOrder.To" type="text" />
        </div>
        <div>
          <label>Services</label>
          <div class="ui dropdown fluid simple selection">
            <div *ngFor="let servs of OrderServices" >{{servs}}</div>
            <div class="menu" >
              <div class="item" (click)="addService_Clicked(i)"  *ngFor="let opt of ServiceOptions; let i = index" [attr.data-index]="i">{{opt}}</div>
            </div>
          </div>
        </div>
        <div>
          <label>Conduct on</label>
          <input [(ngModel)]="NewOrder.Conduct" type="text"  required/>
        </div>
        <div>
          <label>Note</label>
          <textarea [(ngModel)]="NewOrder.Note" id="NoteInput" type="text" ></textarea>
        </div>
        <button *ngIf="!EditMode; else SaveBtn" id="BtnAddOrder" class="ui button blue" (click)="btnAddNewOrder_Click()" >Add order</button>
        <ng-template #SaveBtn>
            <button id="BtnAddOrder" class="ui button green" (click)="btnSave_Click()" >Save order</button>
        </ng-template>
      </div>
  </div>
  <div class="one wide column" ></div>
  <div id="TableWrapper" class="thirteen wide column" >
    <div>
      <label>Search by surname</label>
      <div><input id="SearchSurname" #SearchSurname type="text" placeholder="Search" (input)="txtInputSearch_OnChange(SearchSurname.value)" /></div>
    </div>
    <table class="ui table">
      <thead>
        <tr>
          <th>Surname</th>
          <th>Firstname</th>
          <th>Phonenr</th>
          <th>Email</th>
          <th>From</th>
          <th>To</th>
          <th>Services</th>
          <th>Conduct</th>
          <th>Note</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of Orders; let i = index" [attr.data-index]="i" >
          <td>{{order.Surname}}</td>
          <td>{{order.Firstname}}</td>
          <td>{{order.PhoneNo}}</td>
          <td>{{order.Email}}</td>
          <td>{{order.From}}</td>
          <td>{{order.To}}</td>
          <td>{{order.Services}}</td>
          <td>{{order.Conduct}}</td>
          <td>{{order.Note}}</td>
          <td class="center aligned" >
            <i *ngIf="!isLoading; else elseIcon" class="icon large link edit" (click)="btnEdit_Click(i)" ></i>
          </td>
          <td class="center aligned">
            <i *ngIf="!isLoading; else elseIcon" (click)="btnDelete_Click(i)" class="icon large link delete "></i>
            <ng-template #elseIcon>
                <div class="ui active inline small loader"></div>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>