#OrderTable{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

#NoteInput{
    resize: vertical;
    padding: 5px;
    min-height: 50px;
}

#BtnAddOrder{
    margin: 0px;
    margin-top: 10px;
}

#OrderWrapper{
    padding: 0px;
}

#OrderWrapper * {
    width: 100%;
}