.item{
    margin: 0px;
    border-radius: 0px;
}
#nav-wrapper{
    position: relative;
    border-radius: 0px;
}

#header-nav-title{
    position: absolute;
    text-align: center;
    left: 0px;
    right: 0px;
}