<div id="nav-wrapper" class="ui menu blue inverted borderless grid" >
  <div id="header-nav-title">
    <h1 class="ui text" >
      Tittel
    </h1>
  </div>
  <div class="menu right" >
      <div class="ui item button link big">
        Våre tjenester
      </div>
      <div class="ui item button link big">
        Om oss
      </div>
      <div class="ui item button link big">
        Kontakt oss
      </div>
  </div>
</div>